<div class="container-fluid text-center">
        <h5>
                <img class="mb-4" src="https://image.winudf.com/v2/image/Y29tLm9iYWFzZW1hLnN0eWxldXBfaWNvbl8wX2I2ODQ3Yjgw/icon.png?w=170&fakeurl=1" alt="" width="72" height="72" style="border-radius: 5px;"><br>
                SignUp <br> 
        </h5>
        <div *ngIf="errorMessage" class="alert alert-danger" > User Details already exist</div>
        <div class="card-body">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate > 
                <div class="form-group">
                        <input type="text" name="userName" placeholder="Username" class="form-control" [(ngModel)]="user.userName" #userName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }" required pattern="^[a-zA-Z_]{1,}[a-zA-Z_0-9]*$">
                        <div *ngIf="f.submitted && userName.invalid" class="invalid-feedback">
                            <div *ngIf="userName.errors.pattern">UserName not valid </div>
                            <div *ngIf="userName.errors.required">UserName is required</div>
                        </div>
                </div>
                <div class="form-group ">
                        <input type="text" name="name" placeholder="Name" class="form-control" [(ngModel)]="user.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required pattern="^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$">
                        <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                            <div *ngIf="name.errors.required">Name is required</div>
                            <div *ngIf="name.errors.pattern">Name not valid </div>
                        </div>
                </div>
                <div class="form-group">
                    <input type="text" name="email"placeholder="Email" class="form-control" [(ngModel)]="user.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                        <input type="tel" name="mobile" placeholder="Mobile" class="form-control" [(ngModel)]="user.mobile" #mobile="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }" required pattern="^[6-9]\d{9}$">
                        <div *ngIf="f.submitted && mobile.invalid" class="invalid-feedback">
                            <div *ngIf="mobile.errors.required">mobile is required</div>
                            <div *ngIf="mobile.errors.pattern">mobile no. not valid </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <input type="password" name="password" placeholder="Password" class="form-control" [(ngModel)]="user.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6">
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors.required">Password is required</div>
                            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                <div class="form-group form-check">
                    <input type="checkbox" name="acceptTerms" id="acceptTerms" class="form-check-input" [(ngModel)]="user.acceptTerms" #acceptTerms="ngModel" [ngClass]="{ 'is-invalid': f.submitted && acceptTerms.invalid }" required>
                    <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                    <div *ngIf="f.submitted && acceptTerms.invalid" class="invalid-feedback">Accept Ts & Cs is required</div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-1">Register</button>
                    <button class="btn btn-secondary" type="reset">Cancel</button>
                </div>
                <p class="mt-3 mb-5 text-muted">Already Registered <a routerLink="/signin">SignIn</a></p>
            </form>
        </div>
    </div>