
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://social.fbbonline.in/images/home_banner.jpg?version=2.2.11&subv=1" alt="" class="d-block w-100" height="500px"  height="500">
        <div class="carousel-caption">
          <h3>sTyleUp</h3>
          <p>The Fashion world For You</p>
        </div>   
      </div>
      <div class="carousel-item">
          <img src="https://www.reliancetrends.com/medias/sys_master/images/images/hb6/h11/9246268850206/RTDC-Trends.Ajio-Banner-Desktop-CTA.jpg" class="d-block w-100" height="500px" alt="hello">
          <div class="carousel-caption">
          <h3>sTyleUp</h3>
          <p>The Fashion world For You</p>
        </div>   
      </div>
      <div class="carousel-item">
          <img src="https://i.pinimg.com/originals/b8/ce/12/b8ce12af4e594bcb26b8f55b0377dad4.jpg" class="d-block w-100" height="500px" alt="">
          <div class="carousel-caption">
          <h3>sTyleUp</h3>
          <p>The Fashion world For You</p>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
</div>
  

<div class="container-fluid">
  <hr>
  <h1>Featured Items</h1>
  <hr>
  <div class="row ">
    <ng-template ngFor let-item [ngForOf]="items" let-i="index">
            <div class="col-sm-6 col-md-3 col-lg-2" style="min-width:18rem;" *ngIf="i<6">
                <div class="card mb-2">
                  <a routerLink="/shopitem" (click)="sharedService.viewItem(item)">
                  <img src="{{item.itemImage}}" height="300px" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                  <h5 class="card-title">{{item.itemBrand}}</h5>
                  <p class="card-text m-1">{{item.itemGender}}'s {{item.itemStyle}}</p>
                  <button class="btn btn-primary btn-block mt-3" (click)="explore(item.itemGender)">Explore</button>
                  </div>
              </div>
           </div>
    </ng-template>
  </div>
</div>

<div class="container-fluid">
  <hr>
  <h1>Trending Items</h1>
  <hr>
  <div class="row ">
      <ng-template ngFor let-item [ngForOf]="items" let-i="index">
          <div class="col-sm-6 col-md-3 col-lg-2" style="min-width:18rem;" *ngIf="i>5">
              <div class="card mb-2" >
                  <a (click)="interactionService.viewItem(item)">
                  <img src="{{item.itemImage}}" height="300px" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    <h5 class="card-title">{{item.itemBrand}}</h5>
                    <p class="card-text m-1"> {{item.itemGender}}'s {{item.itemStyle}}</p>
                    <button class="btn btn-primary btn-block mt-3" (click)="explore(item.itemGender)">Explore</button>

                  </div>
              </div>
           </div>
    </ng-template>
  </div>
</div>