
<footer class="page-footer font-small unique-color-dark">
        <div class="container socialmedia">
                <div class="row py-3 align-items-center">
                    <div class="col-md-12 col-lg-12 ">
                          <a class="fb-ic" routerLink="">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                          </a>
                          <a class="tw-ic" routerLink="">
                            <i class="fab fa-twitter white-text mr-4"> </i>
                          </a>
                          <a class="gplus-ic" routerLink="">
                            <i class="fab fa-google-plus-g white-text mr-4"> </i>
                          </a>
                          <a class="li-ic" routerLink="">
                            <i class="fab fa-linkedin-in white-text mr-4"> </i>
                          </a>
                          <a class="ins-ic" routerLink="">
                            <i class="fab fa-instagram white-text"> </i>
                          </a>     
                    </div>                     
            </div>             
        </div>
<hr class="m-0 p-0">
        <div class="container text-left text-md-left pt-2">    
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto ">
              <h6 class="text-uppercase font-weight-bold">StyleUp</h6>
              <hr class="deep-purple accent-2 mt-0 d-inline-block mx-auto" style="width: 70px;">
              <p>We offer you the best of Fashion products in the World Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ut quisquam maiores eius ipsa sunt eos sit!</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto ">
              <h6 class="text-uppercase font-weight-bold">Products</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
              <p>
                <a routerLink="/shop/men">Mens Clothig</a>
              </p>
              <p>
                <a routerLink="/shop/women">Womens Clothing</a>
              </p>
              <p>
                <a routerLink="/shop/kids">Kids Cloathing</a>
              </p>  
            </div>
            
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto ">
              <h6 class="text-uppercase font-weight-bold">Help Desk</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
              <p>
                <a routerLink="/">Your Account</a>
              </p>
              <p>
                <a routerLink="/">Become an Affiliate</a>
              </p>
              <p>
                <a routerLink="/">Help</a>
              </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0">
              <h6 class="text-uppercase font-weight-bold">Contact</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
              <p>
                <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
              <p>
                <i class="fas fa-envelope mr-3"></i> info@styleup.com</p>
              <p>
                <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            </div>
          </div>      
        </div>
        <a routerLink="/" class="p-">© StyleUp</a>
</footer>
